.body_backgorund 
{
    background-image:url(MV5BNTg1YjE4MWItNGM5MS00ODM4LWE5ODktODdjM2ExYjMxNjBlXkEyXkFqcGdeQXVyMTEzMTI1Mjk3._V1_.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}

